In [1]:
# Import libraries
import pandas as pd
import os
import numpy as np
import math

# Set working directory
os.chdir('C:\\Users\\aaron\\Desktop\\GitHub\\Thesis\\Python')

In [2]:
# Import data going through all the relevant sheets
df = {
    t: pd.read_excel('data\FootballLineups\Aux0102-1415.xlsx', sheet_name=f"{t}{t+1}")
    .replace(f'/La-Liga-{t}--{t+1}/', '', regex = True)
    .assign(Season = t)
    for t in range(2001,2022)
}

df.keys()

dict_keys([2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021])

In [3]:
# Concatenate all the keys in one dataframe and keep relevant obs
AUXLINKS = pd.concat(df.values(), ignore_index=True)

AUXLINKS = AUXLINKS[ (AUXLINKS['/'].str.contains('/match/')) | 
                    (AUXLINKS['/'].str.contains('/team/'))]

In [4]:
# Clean observations
AUXLINKS['/'] = AUXLINKS['/'].replace('/team/', '', regex = True)
AUXLINKS['/'] = AUXLINKS['/'].replace('-', ' ', regex = True)

In [5]:
# Define home and away teams variables
AUXLINKS['index'] = np.where( (AUXLINKS['/'].str.contains('match') ), 1, float('nan') )
AUXLINKS['index'] = np.where( (AUXLINKS['index'].shift(1) == 1 ), 2, AUXLINKS['index'])

AUXLINKS = AUXLINKS.rename(columns = {'/' : 'hometeam'})

AUXLINKS['awayteam'] = np.where(
    (AUXLINKS['index'].isna()) & (~AUXLINKS['hometeam'].str.contains('match')),
    AUXLINKS['hometeam'].shift(-2), 
    float('nan'))

AUXLINKS['url'] = np.where(
    AUXLINKS['index'].isna(),
    'https://m.football-lineups.com' + AUXLINKS['hometeam'].shift(-1),
    float('nan'))

AUXLINKS.head()

,hometeam,Season,index,awayteam,url
19,Valencia,2001,NaN,/match/169492/,https://m.football-lineups.comReal Zaragoza
21,Real Zaragoza,2001,NaN,Barcelona,https://m.football-lineups.com/match/169492/
22,/match/169492/,2001,1.0,NaN,NaN
23,Barcelona,2001,2.0,NaN,NaN
25,Rayo Vallecano,2001,NaN,Celta Vigo,https://m.football-lineups.com/match/169493/

In [6]:
# Keep relevant obs
AUXLINKS = AUXLINKS[AUXLINKS['index'].isna()]
AUXLINKS = AUXLINKS[~AUXLINKS['awayteam'].str.contains('match')]
AUXLINKS.head()

,hometeam,Season,index,awayteam,url
21,Real Zaragoza,2001,NaN,Barcelona,https://m.football-lineups.com/match/169492/
25,Rayo Vallecano,2001,NaN,Celta Vigo,https://m.football-lineups.com/match/169493/
29,Osasuna,2001,NaN,Alaves,https://m.football-lineups.com/match/169494/
33,Tenerife,2001,NaN,Athletic Bilbao,https://m.football-lineups.com/match/169495/
37,Real Sociedad,2001,NaN,UD Las Palmas,https://m.football-lineups.com/match/169496/

In [7]:
# Define, drop and order variables
AUXLINKS['match'] = AUXLINKS['hometeam'] + ' vs ' + AUXLINKS['awayteam']

AUXLINKS = AUXLINKS.drop(['index'], axis = 1)

AUXLINKS = AUXLINKS[['url', 'match', 'hometeam', 'awayteam', 'Season']]

In [8]:
# Save as a excel file
AUXLINKS.to_excel('Datasets/FootballLineups/AUXLINKS.xlsx', index = False)
AUXLINKS.head

<bound method NDFrame.head of                                                 url  \
21     https://m.football-lineups.com/match/169492/
25     https://m.football-lineups.com/match/169493/
29     https://m.football-lineups.com/match/169494/
33     https://m.football-lineups.com/match/169495/
37     https://m.football-lineups.com/match/169496/
...                                             ...
33242  https://m.football-lineups.com/match/388687/
33246  https://m.football-lineups.com/match/388690/
33250  https://m.football-lineups.com/match/388688/
33254  https://m.football-lineups.com/match/388689/
33258  https://m.football-lineups.com/match/388686/

                                  match        hometeam  \
21           Real Zaragoza vs Barcelona   Real Zaragoza
25         Rayo Vallecano vs Celta Vigo  Rayo Vallecano
29                    Osasuna vs Alaves         Osasuna
33          Tenerife vs Athletic Bilbao        Tenerife
37       Real Sociedad vs UD Las Palmas   Real Sociedad
...                                 ...             ...
33242  Osasuna vs Espanyol de Barcelona         Osasuna
33246             Alaves vs Real Madrid          Alaves
33250            Mallorca vs Real Betis        Mallorca
33254                  Cadiz vs Levante           Cadiz
33258                Valencia vs Getafe        Valencia

                    awayteam  Season
21                 Barcelona    2001
25                Celta Vigo    2001
29                    Alaves    2001
33           Athletic Bilbao    2001
37             UD Las Palmas    2001
...                      ...     ...
33242  Espanyol de Barcelona    2021
33246            Real Madrid    2021
33250             Real Betis    2021
33254                Levante    2021
33258                 Getafe    2021

[7980 rows x 5 columns]>

# Football Lineup Data

In [9]:
# Import data going through all the relevant sheets
df = {
    t: pd.read_excel(os.path.join(r'data\FootballLineups\HACKIN', f'HACKIN{t}.xlsx'), sheet_name=0)
    .rename(columns={'x1': 'X1', 'x2': 'X2', 'x3': 'X3'})
    for t in range(1,102)
}

df.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101])

In [10]:
# Concatenate all the keys in one dataframe and keep relevant obs
StatsFL = pd.concat(df.values(), ignore_index=True)

# Keep relevant columns and obs
StatsFL = StatsFL[StatsFL['Var.4'].isna()]
StatsFL = StatsFL.drop(['Rate', 'Var.4'], axis = 1)

# Rename variables
StatsFL = StatsFL.rename(columns = {'X1' : 'Home_Team', 'X2' : 'Stats', 'X3' : 'Away_Team'})

StatsFL.head()

,Home_Team,Stats,Away_Team,url
0,18,Shots,14,https://m.football-lineups.com/match/212868/
1,11,Shots on goal,6,https://m.football-lineups.com/match/212868/
2,12,Fouls,13,https://m.football-lineups.com/match/212868/
3,8,Corner Kicks,7,https://m.football-lineups.com/match/212868/
4,3,Offsides,1,https://m.football-lineups.com/match/212868/

In [11]:
# Merge with AUXLINKS data
MergeFootballLineups = pd.merge(StatsFL, AUXLINKS, on = 'url', validate= 'm:1', indicator= True)
print(MergeFootballLineups['_merge'].unique())
MergeFootballLineups

['both']
Categories (3, object): ['left_only', 'right_only', 'both']

,Home_Team,Stats,Away_Team,url,match,hometeam,awayteam,Season,_merge
0,18,Shots,14,https://m.football-lineups.com/match/212868/,Real Madrid vs Getafe,Real Madrid,Getafe,2014,both
1,11,Shots on goal,6,https://m.football-lineups.com/match/212868/,Real Madrid vs Getafe,Real Madrid,Getafe,2014,both
2,12,Fouls,13,https://m.football-lineups.com/match/212868/,Real Madrid vs Getafe,Real Madrid,Getafe,2014,both
3,8,Corner Kicks,7,https://m.football-lineups.com/match/212868/,Real Madrid vs Getafe,Real Madrid,Getafe,2014,both
4,3,Offsides,1,https://m.football-lineups.com/match/212868/,Real Madrid vs Getafe,Real Madrid,Getafe,2014,both
...,...,...,...,...,...,...,...,...,...
39551,9,Shots on goal,2,https://m.football-lineups.com/match/390429/,Elche CF vs Getafe,Elche CF,Getafe,2021,both
39552,11,Fouls,9,https://m.football-lineups.com/match/390429/,Elche CF vs Getafe,Elche CF,Getafe,2021,both
39553,8,Corner Kicks,3,https://m.football-lineups.com/match/390429/,Elche CF vs Getafe,Elche CF,Getafe,2021,both
39554,2,Offsides,1,https://m.football-lineups.com/match/390429/,Elche CF vs Getafe,Elche CF,Getafe,2021,both
39555,59%,% possession,41%,https://m.football-lineups.com/match/390429/,Elche CF vs Getafe,Elche CF,Getafe,2021,both

In [12]:
# Keep relevant obs and clean data
MergeFootballLineups = MergeFootballLineups[
    (MergeFootballLineups['Stats'] == 'Offsides') |
    (MergeFootballLineups['Stats'] == '% possession') |
    (MergeFootballLineups['Stats'] == 'Fouls')
]

MergeFootballLineups['Stats'] = MergeFootballLineups['Stats'].str.replace(' ', '', regex = True)
MergeFootballLineups['Stats'] = MergeFootballLineups['Stats'].str.replace('%', '', regex = True)

C:\Users\aaron\AppData\Local\Temp\ipykernel_15828\3994540087.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MergeFootballLineups['Stats'] = MergeFootballLineups['Stats'].str.replace(' ', '', regex = True)
C:\Users\aaron\AppData\Local\Temp\ipykernel_15828\3994540087.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  MergeFootballLineups['Stats'] = MergeFootballLineups['Stats'].str.replace('%', '', regex = True)

In [13]:
# Reshape data
xxx # Before defining the index variable, check if i can reshape without it.
# Make proper replacements

NameError: name 'xxx' is not defined

In [ ]:
# Save as a excel file
MergeFootballLineups.to_excel('Datasets/FootballLineups/MergeFootballLineups.xlsx', index = False)

In [ ]:
# Drop obs
MergeFootballLineups = MergeFootballLineups[(MergeFootballLineups['HomeFouls'].isna()) &
                                            (MergeFootballLineups['AwayFouls'].isna()) &
                                            (MergeFootballLineups['HomeOffsides'].isna()) &
                                            (MergeFootballLineups['AwayOffsides'].isna())]

# Define variables for fouls in favor
MergeFootballLineups['HomeFld'] = MergeFootballLineups['AwayFouls']
MergeFootballLineups['AwayFld'] = MergeFootballLineups['HomeFouls']

In [ ]:
# Adjusting for erros in the data

# A list of dictionaries containing all your corrections
match_corrections = [
    {'match': 'Atlético Madrid vs Deportivo La Coruña', 'Season': '20052006', 'HomePoss': 53, 'AwayPoss': 47, 'HomeFoul': 25, 'AwayFoul': 26, 'HomeFld': 26, 'AwayFld': 25},
    {'match': 'Atlético Madrid vs Sevilla', 'Season': '20052006', 'HomePoss': 68, 'AwayPoss': 32, 'HomeFoul': 13, 'AwayFoul': 13, 'HomeFld': 13, 'AwayFld': 13, 'HomeOff': 1, 'AwayOff': 3},
    {'match': 'Zaragoza vs Real Madrid', 'Season': '20062007', 'HomePoss': 45, 'AwayPoss': 55, 'HomeOffsides': 4, 'AwayOffsides': 3},
    {'match': 'Atlético Madrid vs Sevilla', 'Season': '20062007', 'HomePoss': 59, 'AwayPoss': 41, 'HomeFouls': 23, 'AwayFouls': 16, 'HomeFld': 16, 'AwayFld': 23, 'HomeOffsides': 0, 'AwayOffsides': 4},
    {'match': 'Sevilla vs Levante', 'Season': '20062007', 'HomePoss': 59, 'AwayPoss': 41, 'HomeFoul': 18, 'AwayFoul': 25, 'HomeFld': 25, 'AwayFld': 18, 'HomeOff': 2, 'AwayOff': 4},
    {'match': 'Sporting Gijón vs Barcelona', 'Season': '20082009', 'HomePoss': 32, 'AwayPoss': 68, 'HomeOffsides': 0, 'AwayOffsides': 0},
    {'match': 'Tenerife vs Mallorca', 'Season': '20092010', 'HomePoss': 50, 'AwayPoss': 50},
    {'match': 'Barcelona vs Real Sociedad', 'Season': '20102011', 'HomeFld': 9, 'AwayFld': 9, 'AwayOffsides': 6},
    {'match': 'Rayo Vallecano vs Zaragoza', 'Season': '20112012', 'HomePoss': 61, 'AwayPoss': 39, 'HomeFouls': 19, 'AwayFouls': 14, 'HomeFld': 14, 'AwayFld': 19, 'HomeOffsides': 0, 'AwayOffsides': 4},
    {'match': 'Valladolid vs Levante', 'Season': '20132014', 'HomePoss': 67, 'AwayPoss': 33, 'HomeFoul': 13, 'AwayFoul': 16, 'HomeFld': 16, 'AwayFld': 13},
    {'match': 'Levante vs Elche', 'Season': '20132014', 'HomePoss': 46, 'AwayPoss': 54},
    {'match': 'Real Murcia vs Athletic Club', 'Season': '20072008', 'HomePoss': 55, 'AwayPoss': 45, 'HomeFouls': 20, 'AwayFouls': 13, 'HomeFld': 13, 'AwayFld': 20, 'HomeOffsides': 6, 'AwayOffsides': 3},
    {'match': 'Real Murcia vs Mallorca', 'Season': '20072008', 'HomePoss': 56, 'AwayPoss': 44, 'HomeFouls': 19, 'AwayFouls': 18, 'HomeFld': 18, 'AwayFld': 19, 'HomeOffsides': 4, 'AwayOffsides': 5},
    {'match': 'Sevilla vs Valladolid', 'Season': '20072008', 'HomePoss': 46, 'AwayPoss': 54, 'HomeFouls': 16, 'AwayFouls': 13, 'HomeFld': 13, 'AwayFld': 16, 'HomeOffsides': 6, 'AwayOffsides': 2},
    {'match': 'Espanyol vs Real Murcia', 'Season': '20072008', 'HomePoss': 63, 'AwayPoss': 37, 'HomeFouls': 21, 'AwayFouls': 20, 'HomeFld': 20, 'AwayFld': 21, 'HomeOffsides': 5, 'AwayOffsides': 4},
]

# Create a corrections DataFrame from the list
corrections_df = pd.DataFrame(match_corrections)

# Apply corrections
#MISSING XXXXX

In [ ]:
# Adjusting for Missing Values
manual_insert = {
    'Season': [
        'Temporada 2006/2007', 'Temporada 2006/2007', 'Temporada 2006/2007', 'Temporada 2006/2007',
        'Temporada 2006/2007', 'Temporada 2006/2007', 'Temporada 2006/2007', 'Temporada 2009/2010',
        'Temporada 2009/2010', 'Temporada 2013/2014'
    ],
    'hometeam': [
        'Valencia', 'Gimnàstic', 'Real Sociedad', 'Sevilla',
        'Sevilla', 'Villarreal', 'Atlético Madrid', 'Barcelona',
        'Racing Santander', 'Granada'
    ],
    'awayteam': [
        'Real Sociedad', 'Villarreal', 'Sevilla', 'Betis',
        'Getafe', 'Sevilla', 'Racing Santander', 'Almería',
        'Deportivo La Coruña', 'Celta Vigo'
    ],
    'match': [
        'Valencia vs Real Sociedad', 'Gimnàstic vs Villarreal', 'Real Sociedad vs Sevilla', 'Sevilla vs Betis',
        'Sevilla vs Getafe', 'Villarreal vs Sevilla', 'Atlético Madrid vs Racing Santander', 'Barcelona vs Almería',
        'Racing Santander vs Deportivo La Coruña', 'Granada vs Celta Vigo'
    ],
    
    'homePossession': [53, 61, 47, 51, 50, 52, 66, 73, 51, 49],
    'AwayPossession': [47, 39, 53, 49, 50, 48, 34, 27, 49, 51],
    'HomeFouls': [19, 21, 20, 29, 16, 28, 18, 18, 18, 10],
    'AwayFouls': [19, 14, 16, 24, 19, 18, 24, 14, 12, 14],
    'HomeFld': [19, 14, 16, 24, 19, 18, 24, 14, 12, 14],
    'AwayFld': [19, 21, 20, 29, 16, 28, 18, 18, 18, 10],
    'HomeOffsides': [4, 1, 3, 1, 4, 3, 4, 3, 0, 1],
    'AwayOffsides': [2, 0, 2, 1, 4, 1, 3, 3, 2, 2],
    'url': [''] * 10
}


df = pd.DataFrame(manual_insert)


#Merge with original data here XXXXX

MergeFootballLineups['HomeOffsides'] = np.where(MergeFootballLineups['url'] == "https://m.football-lineups.com/match/64162/",
                                               0, MergeFootballLineups['HomeOffsides'])
MergeFootballLineups['AwayOffsides'] = np.where(MergeFootballLineups['url'] == "https://m.football-lineups.com/match/64162/",
                                               2, MergeFootballLineups['AwayOffsides'])

# Drop duplicates first check if there's any

In [ ]:
# Adjust Season obs
def standard_teams(df):
    replacements = {
        '20042005' : '0405', '20052006' : '0506',
        '20062007' : '0607', '20072008' : '0708',
        '20082009' : '0809', '20092010' : '0910',
        '20102011' : '1011', '20112012' : '1112',
        '20122013' : '1213', '20132014' : '1314',
        '20142015' : '1415'
    }
    
    for old_value, new_value in replacements.items():
        df['Season'] = df['Season'].str.replace(old_value, new_value, regex = True)

# Apply the function
standard_teams(MergeFootballLineups)

# Adjust the Missing
MergeFootballLineups['HomeFouls'] = np.where((MergeFootballLineups['HomeFld'] == 0) &
                                    (MergeFootballLineups['AwayFld'] == 0), 
                                    float('nan'), MergeFootballLineups['HomeFouls'])

MergeFootballLineups['AwayFouls'] = np.where((MergeFootballLineups['HomeFld'] == 0) &
                                    (MergeFootballLineups['AwayFld'] == 0), 
                                    float('nan'), MergeFootballLineups['AwayFouls'])

MergeFootballLineups['HomeFld'] = np.where((MergeFootballLineups['HomeFouls'].isna()) &
                                    (MergeFootballLineups['AwayFouls'].isna()), 
                                    float('nan'), MergeFootballLineups['HomeFld'])

MergeFootballLineups['AwayFld'] = np.where((MergeFootballLineups['HomeFouls'].isna()) &
                                    (MergeFootballLineups['AwayFouls'].isna()), 
                                    float('nan'), MergeFootballLineups['AwayFld'])


MergeFootballLineups = MergeFootballLineups.rename(columns = {'match' : 'Partido'})


variables = ['hometeam', 'awayteam', 'Partido'] 
for vars in variables:
    MergeFootballLineups[vars] = MergeFootballLineups[vars].str.replace('Betis', 'Real Betis')

In [ ]:
# Save as a excel file
MergeFootballLineups.to_excel('Datasets/FootballLineups/MergeFootballLineups.xlsx', index = False)

# Attendance R Transfermkt

In [ ]:
# Import data going through all the relevant sheets
df = {
    t: pd.read_csv(os.path.join(r'data\FootballLineups\HACKIN\TEAMS - ATTENDANCE', f'Teams{t}.csv'))
    .assign(Year = t)

    for t in range(1998, 2022)
}

print(df.keys())

# Concatenate all the keys in one dataframe and keep relevant obs
AttendanceTeams = pd.concat(df.values(), ignore_index=True)

In [ ]:
# Clean Observations
AttendanceTeams['value'] = AttendanceTeams['value'].str.replace('\t', '')
AttendanceTeams['value'] = AttendanceTeams['value'].str.replace('\n', '')
AttendanceTeams['value'] = AttendanceTeams['value'].str.replace('\r', '')

AttendanceTeams = AttendanceTeams.rename(columns = {'value' : 'hometeam'})

AttendanceTeams['Jornada'] = AttendanceTeams['url'].str[-3:]
AttendanceTeams['Jornada'] = AttendanceTeams['Jornada'].str.replace('g=', '', regex = True)
AttendanceTeams['Jornada'] = AttendanceTeams['Jornada'].str.replace('=', '', regex = True)

parenthesis1 = '('
parenthesis2 = ')'

AttendanceTeams['hometeam'] = AttendanceTeams['hometeam'].str.replace(parenthesis1, '', regex = True)
AttendanceTeams['hometeam'] = AttendanceTeams['hometeam'].str.replace(parenthesis2, '', regex = True)
AttendanceTeams['hometeam'] = AttendanceTeams['hometeam'].str.replace('.', '', regex = True)
AttendanceTeams['hometeam'] = AttendanceTeams['hometeam'].str.replace('\xa0', '', regex = True)

AttendanceTeams['hometeam'] = AttendanceTeams['hometeam'].str.replace(r'\d+', '', regex=True)

AttendanceTeams.head()

In [ ]:
# Standarize the name of the teams
def standard_teams(df):
    replacements = {
        'Almeria' : 'Almería', 'Athletic' : 'Athletic Club', 
        'CA Osasuna' : 'Osasuna', 'Cádiz CF' : 'Cádiz', 
        'Celta de Vigo' : 'Celta Vigo', 'Córdoba CF' : 'Córdoba', 
        'Hércules CF' : 'Hércules', 'Dep La Coruña' : 'Deportivo La Coruña', 
        'Málaga CF' : 'Málaga', 'Racing' : 'Racing Santander', 
        'Sp Gijon' : 'Sporting Gijón', 'Villareal' : 'Villarreal', 
        'CD Leganés' : 'Leganés', 'CD Numancia' : 'Numancia', 
        'CD Tenerife' : 'Tenerife', 'Elche CF' : 'Elche', 
        'RCD Mallorca' : 'Mallorca', 'Real Betis' : 'Betis', 
        'Real Oviedo' : 'Oviedo', 'Real Valladolid' : 'Valladolid', 
        'Real Zaragoza' : 'Zaragoza', 'Recr Huelva' : 'Recreativo', 
        'SD ' : '', 'Sevilla FC' : 'Sevilla', 'UD ' : '', 
        'Xerez CD' : 'Xerez', 'Granada CF' : 'Granada',
        'Santander Santander' : 'Santander'
    }
    
    for old_value, new_value in replacements.items():
        df['hometeam'] = df['hometeam'].str.replace(old_value, new_value, regex = True)

# Apply the function
standard_teams(AttendanceTeams)

In [ ]:
# Sort and save data

In [ ]:
# Save as a excel file
AttendanceTeams.to_excel('Datasets/TRANSFERMKT/AttendanceTeams.xlsx', index = False)

In [108]:
# Import data going through all the relevant sheets
df = {
    t: pd.read_excel(os.path.join(r'data\FootballLineups\HACKIN\TEAMS - ATTENDANCE', f'Attendance{t}.xlsx'))
    .assign(Year = t)

    for t in range(1998, 2022)
}

print(df.keys())

# Concatenate all the keys in one dataframe and keep relevant obs
AttendanceYears = pd.concat(df.values(), ignore_index=True)

dict_keys([1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021])

In [109]:
AttendanceYears.head()

,.,url,Year
0,"Saturday,Sat ...",https://www.transfermarkt.com/laliga/spieltag/...,1998
1,12.000\t\t\t\t\t\t\t\t\t\t · \t\t\t\t\t\t\t\t\...,https://www.transfermarkt.com/laliga/spieltag/...,1998
2,"Saturday,Sat ...",https://www.transfermarkt.com/laliga/spieltag/...,1998
3,50.000\t\t\t\t\t\t\t\t\t\t · \t\t\t\t\t\t\t\t\...,https://www.transfermarkt.com/laliga/spieltag/...,1998
4,"Sunday,Sun ...",https://www.transfermarkt.com/laliga/spieltag/...,1998

In [110]:
# Clean obs
AttendanceYears['.'] = AttendanceYears['.'].str.replace('\t', '')
AttendanceYears['.'] = np.where( (AttendanceYears['.'].str.contains('day', na = False)), 
                                "", AttendanceYears['.'] )

letters = ['.', '\s', '·', '[a-zA-Z]', 'á', 'é', 'í', 'ó', 'ú', 'ñ', 'Á', '-']

for l in letters:
    AttendanceYears['.'] = AttendanceYears['.'].str.replace(l, '')

# Rename column
AttendanceYears = AttendanceYears.rename(columns = {'.' : 'Attendance'})

# Define Matchweek variable and clean obs
AttendanceYears['Jornada'] = AttendanceYears['url'].str[-3:]
AttendanceYears['Jornada'] = AttendanceYears['Jornada'].str.replace('g/', '', regex = True)
AttendanceYears['Jornada'] = AttendanceYears['Jornada'].str.replace('g=', '', regex = True)
AttendanceYears['Jornada'] = AttendanceYears['Jornada'].str.replace('=', '', regex = True)

C:\Users\aaron\AppData\Local\Temp\ipykernel_15828\1922694549.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  AttendanceYears['.'] = AttendanceYears['.'].str.replace(l, '')
C:\Users\aaron\AppData\Local\Temp\ipykernel_15828\1922694549.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  AttendanceYears['.'] = AttendanceYears['.'].str.replace(l, '')

In [111]:
# Drop even obs

array(['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12',
       '13', '14', '15', '16', '17', '18', '19', '20', '21', '22', '23',
       '24', '25', '26', '27', '28', '29', '30', '31', '32', '33', '34',
       '35', '36', '37', '38'], dtype=object)

In [ ]:
# Define variables

In [112]:
# Save as a excel file
AttendanceYears.to_excel('Datasets/TRANSFERMKT/AttendanceYears.xlsx', index = False)

In [ ]:
# Merge with AttendanceTeams

In [ ]:
# Save output