In [1]:
# Import libraries
import pandas as pd
import os
import numpy as np

# Set working directory
os.chdir('C:\\Users\\aaron\\Desktop\\GitHub\\Thesis\\Python')

In [2]:
# Once performed this once, there's no need to perform this again as it is time consuming

#dataframes = {}

for i in range(1, 17):
    print(i)

    # Define the path file and file path
    filename = f'h{i}.csv'
    filepath = os.path.join(r'Data\RFEF - CTA', filename)

    # Import data
    #rfef_cta = pd.read_csv(filepath, encoding='ISO-8859-1')
    
    #dataframes[filename] = rfef_cta
    
#print(dataframes.keys())

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [3]:
# Concat dictionary entries in one dataframe
#rfef_cta = pd.concat(dataframes.values(), ignore_index = True)

#len(rfef_cta)

In [4]:
# rfef_cta.to_csv('Data\RFEF - CTA\SOURCODE.csv')

In [5]:
rfef_cta = pd.read_csv('Data\RFEF - CTA\SOURCODE.csv')

In [6]:
rfef_cta.drop(['Unnamed: 0'], axis = 1, inplace = True)
rfef_cta = rfef_cta.dropna()

In [7]:
tab_character = chr(9)
quotation_character = chr(34)
rfef_cta['x'] = rfef_cta['x'].str.replace(tab_character, '')
rfef_cta['x'] = rfef_cta['x'].str.replace('  ', '')
rfef_cta['x'] = rfef_cta['x'].str.replace(quotation_character, '')

In [8]:
# Drop rows where we don't have any value
rfef_cta = rfef_cta[rfef_cta['x'] != '']
rfef_cta = rfef_cta[rfef_cta['x'] != ' ']

len(rfef_cta)

4846122

In [9]:
# Keep obs where we find a certain chain of characters
rfef_cta['aux'] = np.where((rfef_cta['x'].str.find('Temporada') > 0) |
                           (rfef_cta['x'].str.find('Jornada') > 0) |
                           (rfef_cta['x'].str.find('Acta del Partido celebrado') > 0) |
                           (rfef_cta['x'].str.find('<td width=225') > 0) |
                           (rfef_cta['x'].str.find('class=NEGRITA>-') > 0) |
                           (rfef_cta['x'].str.find('EXPULSIONES') > 0) |
                           (rfef_cta['x'].str.find('motivo: doble amarilla') > 0), 1, 0)

rfef_cta = rfef_cta[rfef_cta['aux'] == 1]

rfef_cta = rfef_cta[~rfef_cta['x'].str.contains("Liga 2ª División", na=False)]

len(rfef_cta)

102256

In [10]:
# Standarize
rfef_cta['x'] = rfef_cta['x'].str.replace('Liga 1ª División', 'Liga 1ra División')

In [11]:
# Clean obs
strings_to_remove = ['<td width=225 class=TEXTO_COLOR>', '</td>',
'<td height=15 colspan=2 class=NEGRITA>- ',
':', '<td width=30%><span class=TIT_PAG>&nbsp;',
'</span>', '<td align=right width=30%><span class=TIT_PAG>',
'&nbsp;', '<td class=BG_TIT_PAG><span class=tit4>',
'<td height=15 >+ ', '<td height=15 colspan=3 class=tit4>B.- ']

for s in strings_to_remove:
    rfef_cta['x'] = rfef_cta['x'].str.replace(s, '', regex = True)


rfef_cta['x'] = np.where((rfef_cta['x'].str.contains('addMenuItem',)), 
                         'Liga 1ra División', rfef_cta['x'])

rfef_cta['x'] = rfef_cta['x'].str.replace('<td height=15 >+ ', '', regex = False)

len(rfef_cta)

102256

In [12]:
# Reset index and drop unneded variables
rfef_cta.reset_index(inplace = True)
rfef_cta.drop(['index', 'aux'], axis = 1, inplace = True)

In [13]:
# Drop obs that have certain chain of characters
rfef_cta = rfef_cta[~rfef_cta['x'].str.contains("<td align=right class=BG_TIT_PAG>", na = False)]
rfef_cta = rfef_cta[~rfef_cta['x'].str.contains("<td height=15 colspan=2 >", na = False)]
rfef_cta = rfef_cta[~rfef_cta['x'].str.contains("<td width=570 height=15 >", na = False)]
rfef_cta = rfef_cta[~rfef_cta['x'].str.contains("El segundo tiempo comenzó con 30", na = False)]

len(rfef_cta)

102247

In [14]:
# Standarize teams names
rfef_cta['x'] = rfef_cta['x'].str.replace('Málaga CF SAD', 'Málaga', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Villarreal CF SAD', 'Villarreal', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('RCD Espanyol de Barcelona SAD', 'Espanyol', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Real Zaragoza SAD', 'Zaragoza', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('FC Barcelona', 'Barcelona', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Real Sociedad de Fútbol SAD', 'Real Sociedad', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Real Betis Balompié SAD', 'Betis', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Real Madrid CF', 'Real Madrid', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Sevilla FC SAD', 'Sevilla', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Club Atlético de Madrid SAD', 'Atlético Madrid', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Real Valladolid CF SAD', 'Valladolid', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Albacete Balompié SAD', 'Albacete', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('RC Deportivo', 'Deportivo La Coruña', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('RC Celta de Vigo SAD', 'Celta Vigo', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Club Atlético Osasuna', 'Osasuna', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Real Murcia CF', 'Real Murcia', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Real Racing Club de Santander SAD', 'Racing Santander', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Athletic Club', 'Athletic Club', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Valencia CF SAD', 'Valencia', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('RCD Mallorca SAD', 'Mallorca', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Levante UD SAD', 'Levante', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Getafe CF SAD', 'Getafe', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('CD Numancia de Soria', 'Numancia', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Cádiz CF SAD', 'Cádiz', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Deportivo Alavés SAD', 'Alavés', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('RC Recreativo de Huelva SAD', 'Recreativo', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Gimnàstic de Tarragona', 'Gimnàstic', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('UD Almería SAD', 'Almería', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Real Sporting de Gijón SAD', 'Sporting Gijón', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Xerez C.D. SAD', 'Xerez', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('CD Tenerife SAD', 'Tenerife', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Hércules de Alicante CF SAD', 'Hércules', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Granada CF SAD', 'Granada', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Rayo Vallecano de Madrid SAD', 'Rayo Vallecano', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Elche CF SAD', 'Elche', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('Córdoba CF', 'Córdoba', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('SD Eibar SAD', 'Eibar', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('UD Las Palmas SAD', 'Las Palmas', regex = True)
rfef_cta['x'] = rfef_cta['x'].str.replace('CD Leganés SAD', 'Leganés', regex = True)

In [15]:
# Define new variables based on the content of x variable
rfef_cta['Season'] = np.where((rfef_cta['x'].str.contains('Temporada')), rfef_cta['x'], float('nan'))
rfef_cta['Jornada'] = np.where((rfef_cta['x'].str.contains('Jornada')), rfef_cta['x'], float('nan'))
rfef_cta['Acta'] = np.where((rfef_cta['x'].str.contains('Acta del Partido')), rfef_cta['x'], float('nan'))

rfef_cta['homeEquipo'] = np.where((rfef_cta['x'].shift(1).str.contains('Acta del Partido')), rfef_cta['x'], float('nan'))
rfef_cta['awayEquipo'] = np.where((rfef_cta['x'].shift(2).str.contains('Acta del Partido')), rfef_cta['x'], float('nan'))

rfef_cta['Exp'] = np.where((rfef_cta['x'].str.contains('EXPULSIONES')), rfef_cta['x'], float('nan'))
rfef_cta['ExpJ'] = np.where((rfef_cta['x'].str.contains('En el minuto')) & (rfef_cta['x'].str.contains('el jugador')), 
                            rfef_cta['x'], float('nan'))

In [16]:
rfef_cta.columns

Index(['Unnamed: 0.1', 'x', 'Season', 'Jornada', 'Acta', 'homeEquipo',
       'awayEquipo', 'Exp', 'ExpJ'],
      dtype='object')

In [17]:
rfef_cta['Aux'] = np.where((~rfef_cta['Jornada'].isna()) | 
                           (~rfef_cta['Acta'].isna()) |
                           (~rfef_cta['homeEquipo'].isna()) |
                           (~rfef_cta['awayEquipo'].isna()), 1, 0)

In [18]:
rfef_cta['Jornada'] = rfef_cta['Jornada'].shift(-1)
rfef_cta['Acta'] = rfef_cta['Acta'].shift(-2)
rfef_cta['homeEquipo'] = rfef_cta['homeEquipo'].shift(-3)
rfef_cta['awayEquipo'] = rfef_cta['awayEquipo'].shift(-4)

rfef_cta = rfef_cta[rfef_cta['Aux'] != 1]

In [19]:
rfef_cta['Equipo'] = np.where(((rfef_cta['x'].shift(1).str.contains('EXPULSIONES')) |
                              (rfef_cta['x'].shift(2).str.contains('EXPULSIONES')) |
                              (rfef_cta['x'].shift(-1).str.contains('En el minuto'))) &
                              (~rfef_cta['x'].str.contains('En el minuto')) |
                              ((rfef_cta['x'].shift(1).str.contains('En el minuto')) &
                              (~rfef_cta['x'].str.contains('En el minuto')) &
                              (rfef_cta['x'].shift(-3).str.contains('EXPULSIONES'))), 
                              rfef_cta['x'], float('nan'))

In [20]:
# Drop obs that lack relevant data
rfef_cta['Aux'] = np.where((rfef_cta['awayEquipo'].isna()) &
                           (rfef_cta['Exp'].isna()) &
                           (rfef_cta['ExpJ'].isna()) &
                           (rfef_cta['Equipo'].isna()), 1, 0)

rfef_cta = rfef_cta[rfef_cta['Aux'] != 1]

In [21]:
# Drop obs that lack relevant data
rfef_cta.columns

print(len(rfef_cta))

rfef_cta['Aux'] = np.where( ((~rfef_cta['Exp'].isna()) & (rfef_cta['ExpJ'].shift(1).str.contains('minuto'))) |
                            ((~rfef_cta['Exp'].isna()) & (~rfef_cta['awayEquipo'].shift(-3).isna()))
                            , 1, 0)

rfef_cta['Aux'] = np.where((rfef_cta['Aux'].shift(1) == 1) | (rfef_cta['Aux'].shift(2) == 1), 1, rfef_cta['Aux'])

rfef_cta = rfef_cta[rfef_cta['Aux'] != 1]

print(len(rfef_cta))

rfef_cta['Aux'] = np.where( (~rfef_cta['Exp'].isna()) & (~rfef_cta['Exp'].shift(-4).isna()), 1, 0)
rfef_cta['Aux'] = np.where( (rfef_cta['Aux'].shift(1) == 1) | (rfef_cta['Aux'].shift(2) == 1), 1, rfef_cta['Aux'])

rfef_cta = rfef_cta[rfef_cta['Aux'] != 1]

print(len(rfef_cta))

# Drop those matches observations that don't have double yellow card incidents
rfef_cta['Aux'] = np.where((~rfef_cta['Season'].isna()) & (rfef_cta['Exp'].shift(-1).isna()), 1, 0)
rfef_cta = rfef_cta[rfef_cta['Aux'] != 1]

print(len(rfef_cta))

rfef_cta = rfef_cta[rfef_cta['Exp'].isna()]

print(len(rfef_cta))

# Drop redundant variables
rfef_cta.drop(['x', 'Exp'], axis = 1, inplace = True)

# Adjust Equipo variable to match its players
rfef_cta['Equipo'] = np.where( (~rfef_cta['ExpJ'].isna() ), 
                             rfef_cta['Equipo'].shift(1), float('nan'))

rfef_cta['Equipo'] = np.where( (~rfef_cta['ExpJ'].isna() ) & rfef_cta['Equipo'].isna(), 
                           rfef_cta['Equipo'].shift(1), 
                            rfef_cta['Equipo'])

# ADJUST THIS WITH A WHILE LOOP

51699
30054
11613
5466
4396

In [22]:
rfef_cta = rfef_cta[(~rfef_cta['ExpJ'].isna()) | 
                    (~rfef_cta['awayEquipo'].isna())]

In [23]:
vars = ['Season', 'Jornada', 'Acta', 'homeEquipo', 'awayEquipo']

aux = rfef_cta['Season'].isna().sum()

while aux != 0:
    for var in vars:
        rfef_cta[var] = np.where( (rfef_cta[var].isna() ), rfef_cta[var].shift(1), rfef_cta[var])
    
    aux = rfef_cta['Season'].isna().sum()

In [24]:
rfef_cta['Partido'] = rfef_cta['homeEquipo'] + ' vs ' + rfef_cta['awayEquipo']

In [25]:
rfef_cta['ExpJ'] = np.where( (rfef_cta['ExpJ'].isna()), 
                           0, 1)

# Aggregate data per match per team
rfef_cta = rfef_cta.groupby(['Season', 'Jornada', 'Acta', 'Partido', 'Equipo'], as_index = False).agg({'ExpJ' : 'sum'})

In [26]:
# Clean the value of Jornada variable
old = "Jornada Nº "
new = "La Liga (Matchweek "

rfef_cta['Jornada'] = rfef_cta['Jornada'].str.replace(old, new, regex = True) + ')'

In [27]:
# Next steps is to do this for all data
# Then check if its doing okay

In [28]:
# Insert manually missing values
manual_insert = {
    'Season': ['Temporada 2006/2007', 'Temporada 2006/2007', 'Temporada 2009/2010', 'Temporada 2009/2010'],
    'Jornada': ['La Liga (Matchweek 19)', 'La Liga (Matchweek 19)', 'La Liga (Matchweek 10)', 'La Liga (Matchweek 10)'],
    'Acta': ['Acta del Partido celebrado el 21 de enero de 2007', 'Acta del Partido celebrado el 21 de enero de 2007', 
             'Acta del Partido celebrado el 8 de noviembre de 2009', 'Acta del Partido celebrado el 8 de noviembre de 2009'],
    'Partido': ['Atlético Madrid vs Osasuna', 'Atlético Madrid vs Osasuna', 'Valladolid vs Xerez', 'Valladolid vs Xerez'],
    'Equipo': ['Osasuna', 'Atlético Madrid', 'Valladolid', 'Xerez'],
    'ExpJ': [1, 0, 0, 1]
}

df = pd.DataFrame(manual_insert)

In [29]:
# Append with larger dataset
rfef_cta = pd.concat([rfef_cta, df], ignore_index=True)

In [30]:
# Clean Season variable
rfef_cta['Season'] = rfef_cta['Season'].str.replace('Temporada ', '', regex = True)
rfef_cta['Season'] = rfef_cta['Season'].str.replace(' ', '', regex = True)

# Define Year variable
rfef_cta['Year'] = rfef_cta['Season'].str.split("/", 1).str[0]

C:\Users\aaron\AppData\Local\Temp\ipykernel_20476\374197435.py:6: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  rfef_cta['Year'] = rfef_cta['Season'].str.split("/", 1).str[0]

In [31]:
# Define Local variable
rfef_cta['Local'] = np.where( (rfef_cta['Partido'].str.split(' vs ', 1).str[0] == rfef_cta['Equipo']), 
                             1, 0)
rfef_cta

C:\Users\aaron\AppData\Local\Temp\ipykernel_20476\3400577177.py:2: FutureWarning: In a future version of pandas all arguments of StringMethods.split except for the argument 'pat' will be keyword-only.
  rfef_cta['Local'] = np.where( (rfef_cta['Partido'].str.split(' vs ', 1).str[0] == rfef_cta['Equipo']),

,Season,Jornada,Acta,Partido,Equipo,ExpJ,Year,Local
0,2003/2004,La Liga (Matchweek 1),Acta del Partido celebrado el 30 de agosto de ...,Málaga vs Villarreal,Málaga,1,2003,1
1,2003/2004,La Liga (Matchweek 1),Acta del Partido celebrado el 30 de agosto de ...,Málaga vs Villarreal,Villarreal,1,2003,0
2,2003/2004,La Liga (Matchweek 10),Acta del Partido celebrado el 02 de noviembre ...,Espanyol vs Zaragoza,Espanyol,1,2003,1
3,2003/2004,La Liga (Matchweek 10),Acta del Partido celebrado el 02 de noviembre ...,Real Sociedad vs Barcelona,Barcelona,1,2003,0
4,2003/2004,La Liga (Matchweek 11),Acta del Partido celebrado el 09 de noviembre ...,Barcelona vs Betis,Betis,1,2003,0
...,...,...,...,...,...,...,...,...
1137,2021/2022,La Liga (Matchweek 9),Acta del Partido celebrado el 16 de octubre de...,Real Sociedad vs Mallorca,Real Sociedad,1,2021,1
1138,2006/2007,La Liga (Matchweek 19),Acta del Partido celebrado el 21 de enero de 2007,Atlético Madrid vs Osasuna,Osasuna,1,2006,0
1139,2006/2007,La Liga (Matchweek 19),Acta del Partido celebrado el 21 de enero de 2007,Atlético Madrid vs Osasuna,Atlético Madrid,0,2006,1
1140,2009/2010,La Liga (Matchweek 10),Acta del Partido celebrado el 8 de noviembre d...,Valladolid vs Xerez,Valladolid,0,2009,1
1141,2009/2010,La Liga (Matchweek 10),Acta del Partido celebrado el 8 de noviembre d...,Valladolid vs Xerez,Xerez,1,2009,0

In [32]:
# Define Second yellow card home and away variable
rfef_cta['SecYCrdHOME'] = np.where( (rfef_cta['Local'] == 1 ), rfef_cta['ExpJ'], 0)
rfef_cta['SecYCrdAWAY'] = np.where( (rfef_cta['Local'] != 1 ), rfef_cta['ExpJ'], 0)

In [33]:
# Check for matches where there was no second yellow card to drop those obs
rf_aux = rfef_cta.groupby(['Partido', 'Acta'], as_index = False).agg({'SecYCrdHOME' : 'mean', 
                                                                    'SecYCrdAWAY' : 'mean'})
rf_aux = rf_aux[ (rf_aux['SecYCrdAWAY']  == 0) & (rf_aux['SecYCrdHOME']  == 0)]
rf_aux

# No need to do anything

Empty DataFrame
Columns: [Partido, Acta, SecYCrdHOME, SecYCrdAWAY]
Index: []

In [34]:
# Define labels for Matchweeks and Teams

# Define the mapping from team names to numeric IDs
team_name_to_id = {
    "Alavés": 1, "Albacete": 2, "Almería": 3,
    "Athletic Club": 4, "Atlético Madrid": 5,
    "Barcelona": 6, "Betis": 7,
    "Celta Vigo": 8, "Cádiz": 9,
    "Córdoba": 10, "Deportivo La Coruña": 11,
    "Eibar": 12, "Elche": 13,
    "Espanyol": 14, "Extremadura": 15,
    "Getafe": 16, "Gimnàstic": 17,
    "Girona": 18, "Granada": 19,
    "Huesca": 20, "Hércules": 21,
    "Las Palmas": 22, "Leganés": 23,
    "Levante": 24, "Mallorca": 25,
    "Málaga": 26, "Numancia": 27,
    "Osasuna": 28, "Oviedo": 29,
    "Racing Santander": 30, "Rayo Vallecano": 31,
    "Real Madrid": 32, "Real Murcia": 33,
    "Real Sociedad": 34, "Recreativo": 35,
    "Salamanca": 36, "Sevilla": 37,
    "Sporting Gijón": 38, "Tenerife": 39,
    "Valencia": 40, "Valladolid": 41,
    "Villarreal": 42, "Xerez": 43,
    "Zaragoza": 44
}

# Convert the 'Equipo' string variable to a new numeric 'team' variable
rfef_cta['team'] = rfef_cta['Equipo'].map(team_name_to_id)

In [35]:
# Define the mapping from matchweek names to numeric IDs
jornada_to_matchweek_id = {
    "La Liga (Matchweek 1)": 1, "La Liga (Matchweek 2)": 2,
    "La Liga (Matchweek 3)": 3, "La Liga (Matchweek 4)": 4,
    "La Liga (Matchweek 5)": 5, "La Liga (Matchweek 6)": 6,
    "La Liga (Matchweek 7)": 7, "La Liga (Matchweek 8)": 8,
    "La Liga (Matchweek 9)": 9, "La Liga (Matchweek 10)": 10,
    "La Liga (Matchweek 11)": 11, "La Liga (Matchweek 12)": 12,
    "La Liga (Matchweek 13)": 13, "La Liga (Matchweek 14)": 14,
    "La Liga (Matchweek 15)": 15, "La Liga (Matchweek 16)": 16,
    "La Liga (Matchweek 17)": 17, "La Liga (Matchweek 18)": 18,
    "La Liga (Matchweek 19)": 19, "La Liga (Matchweek 20)": 20,
    "La Liga (Matchweek 21)": 21, "La Liga (Matchweek 22)": 22,
    "La Liga (Matchweek 23)": 23, "La Liga (Matchweek 24)": 24,
    "La Liga (Matchweek 25)": 25, "La Liga (Matchweek 26)": 26,
    "La Liga (Matchweek 27)": 27, "La Liga (Matchweek 28)": 28,
    "La Liga (Matchweek 29)": 29, "La Liga (Matchweek 30)": 30,
    "La Liga (Matchweek 31)": 31, "La Liga (Matchweek 32)": 32,
    "La Liga (Matchweek 33)": 33, "La Liga (Matchweek 34)": 34,
    "La Liga (Matchweek 35)": 35, "La Liga (Matchweek 36)": 36,
    "La Liga (Matchweek 37)": 37, "La Liga (Matchweek 38)": 38
}

# Convert 'Jornada' string to numeric 'Matchweek'
rfef_cta['Matchweek'] = rfef_cta['Jornada'].map(jornada_to_matchweek_id)

In [36]:
rfef_cta.head()

,Season,Jornada,Acta,Partido,Equipo,ExpJ,Year,Local,SecYCrdHOME,SecYCrdAWAY,team,Matchweek
0,2003/2004,La Liga (Matchweek 1),Acta del Partido celebrado el 30 de agosto de ...,Málaga vs Villarreal,Málaga,1,2003,1,1,0,26.0,1
1,2003/2004,La Liga (Matchweek 1),Acta del Partido celebrado el 30 de agosto de ...,Málaga vs Villarreal,Villarreal,1,2003,0,0,1,42.0,1
2,2003/2004,La Liga (Matchweek 10),Acta del Partido celebrado el 02 de noviembre ...,Espanyol vs Zaragoza,Espanyol,1,2003,1,1,0,14.0,10
3,2003/2004,La Liga (Matchweek 10),Acta del Partido celebrado el 02 de noviembre ...,Real Sociedad vs Barcelona,Barcelona,1,2003,0,0,1,6.0,10
4,2003/2004,La Liga (Matchweek 11),Acta del Partido celebrado el 09 de noviembre ...,Barcelona vs Betis,Betis,1,2003,0,0,1,7.0,11

In [37]:
rfef_cta.columns

Index(['Season', 'Jornada', 'Acta', 'Partido', 'Equipo', 'ExpJ', 'Year',
       'Local', 'SecYCrdHOME', 'SecYCrdAWAY', 'team', 'Matchweek'],
      dtype='object')

In [39]:
# Keep relevant columns
rfef_cta = rfef_cta[['Year', 'Season', 'Matchweek', 'Partido', 
                             'Equipo', 'SecYCrdHOME', 'SecYCrdAWAY']]

In [ ]:
rfef_cta.to_excel('lol.xlsx')

In [ ]:
# Save final output