In [1]:
# Import libraries
import pandas as pd
import os
import numpy as np
import math

# Set working directory
os.chdir('C:\\Users\\aaron\\Desktop\\GitHub\\Thesis\\Python')

In [2]:
# Import data going through all the relevant sheets
df = {
    t: pd.read_excel('data\FootballLineups\Aux0102-1415.xlsx', sheet_name=f"{t}{t+1}")
    .replace(f'/La-Liga-{t}--{t+1}/', '', regex = True)

    for t in range(2001,2022)
}

df.keys()

dict_keys([2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021])

In [3]:
# Concatenate all the keys in one dataframe and keep relevant obs
AUXLINKS = pd.concat(df.values(), ignore_index=True)

AUXLINKS = AUXLINKS[ (AUXLINKS['/'].str.contains('/match/')) | 
                    (AUXLINKS['/'].str.contains('/team/'))]

In [4]:
# Clean observations
AUXLINKS['/'] = AUXLINKS['/'].replace('/team/', '', regex = True)

                    /
19           Valencia
21      Real-Zaragoza
22     /match/169492/
23          Barcelona
25     Rayo-Vallecano
...               ...
33255  /match/388689/
33256         Levante
33258        Valencia
33259  /match/388686/
33260          Getafe

[23961 rows x 1 columns]

In [5]:
# Define home and away teams
AUXLINKS['index'] = np.where( (AUXLINKS['/'].str.contains('match') ), 1, float('nan') )
AUXLINKS['index'] = np.where( (AUXLINKS['index'].shift(1) == 1 ), 2, AUXLINKS['index'])

AUXLINKS = AUXLINKS.rename(columns = {'/' : 'hometeam'})

AUXLINKS['awayteam'] = np.where(
    (AUXLINKS['index'].isna()) & (~AUXLINKS['hometeam'].str.contains('match')),
    AUXLINKS['hometeam'].shift(-2), 
    float('nan'))

AUXLINKS['last'] = np.where(
    AUXLINKS['index'].isna(),
    AUXLINKS['hometeam'].shift(-1),
    float('nan'))

AUXLINKS.head()

             hometeam  index        awayteam            last
19           Valencia    NaN  /match/169492/   Real-Zaragoza
21      Real-Zaragoza    NaN       Barcelona  /match/169492/
22     /match/169492/    1.0             NaN             NaN
23          Barcelona    2.0             NaN             NaN
25     Rayo-Vallecano    NaN      Celta-Vigo  /match/169493/
...               ...    ...             ...             ...
33255  /match/388689/    1.0             NaN             NaN
33256         Levante    2.0             NaN             NaN
33258        Valencia    NaN          Getafe  /match/388686/
33259  /match/388686/    1.0             NaN             NaN
33260          Getafe    2.0             NaN             NaN

[23961 rows x 4 columns]

In [6]:
AUXLINKS = AUXLINKS[AUXLINKS['index'].isna()]
AUXLINKS = AUXLINKS[~AUXLINKS['awayteam'].str.contains('match')]
AUXLINKS.head()

             hometeam  index               awayteam            last
21      Real-Zaragoza    NaN              Barcelona  /match/169492/
25     Rayo-Vallecano    NaN             Celta-Vigo  /match/169493/
29            Osasuna    NaN                 Alaves  /match/169494/
33           Tenerife    NaN        Athletic-Bilbao  /match/169495/
37      Real-Sociedad    NaN          UD-Las-Palmas  /match/169496/
...               ...    ...                    ...             ...
33242         Osasuna    NaN  Espanyol-de-Barcelona  /match/388687/
33246          Alaves    NaN            Real-Madrid  /match/388690/
33250        Mallorca    NaN             Real-Betis  /match/388688/
33254           Cadiz    NaN                Levante  /match/388689/
33258        Valencia    NaN                 Getafe  /match/388686/

[7980 rows x 4 columns]

In [7]:
xxx
def standard_teams(df):
    replacements = {
        'Almeria' : 'Almería', 'Athletic' : 'Athletic Club', 
        'CA Osasuna' : 'Osasuna', 'Cádiz CF' : 'Cádiz', 
        'Celta de Vigo' : 'Celta Vigo', 'Córdoba CF' : 'Córdoba', 
        'Hércules CF' : 'Hércules', 'Dep. La Coruña' : 'Deportivo La Coruña', 
        'Málaga CF' : 'Málaga', 'Racing' : 'Racing Santander', 
        'Sp Gijon' : 'Sporting Gijón', 'Villareal' : 'Villarreal', 
        'CD Leganés' : 'Leganés', 'CD Numancia' : 'Numancia', 
        'CD Tenerife' : 'Tenerife', 'Elche CF' : 'Elche', 
        'RCD Mallorca' : 'Mallorca', 'Real Betis' : 'Betis', 
        'Real Oviedo' : 'Oviedo', 'Real Valladolid' : 'Valladolid', 
        'Real Zaragoza' : 'Zaragoza', 'Recr. Huelva' : 'Recreativo', 
        'SD ' : '', 'Sevilla FC' : 'Sevilla', 'UD ' : '', 
        'Xerez CD' : 'Xerez', 'Granada CF' : 'Granada'
    }
    
    variables = ['Home_Team', 'Away_Team', 'PenaltyTaker', 'PenaltyConc']
    for vars in variables:
        for old_value, new_value in replacements.items():
            df[vars] = df[vars].str.replace(old_value, new_value, regex = True)

# Apply the function
standard_teams(missed)

NameError: name 'xxx' is not defined