In [1]:
# Import libraries
import pandas as pd
import os
import numpy as np

# Set working directory
os.chdir('C:\\Users\\aaron\\Desktop\\GitHub\\Thesis\\Python')

In [2]:
# Import data, just one year
time = ['9899', '9900', '0001', '0102', '0203', '0304', '0405', '0506', 
        '0607', '0708', '0809', '0910', '1011', '1112', '1213', '1314', 
        '1415', '1516', '1617', '1718', '1819', '1920', '2021', '2122']

stat = ['STANDARD', 'PORTERIA', 'EXTRA', 'REGULAR']

locvis = ['SQ', 'VS']

# Loop to create empty dictionaries dynamically
for s in stat:
    for lv in locvis:
        # Dynamically generate the variable name and assign an empty dictionary
        dict_name = f"{s.lower()}_{lv}"
        globals()[dict_name] = {}

# Iterate over the list of years, stats and home status
for styp in stat:
    for i in time:
        for local in locvis:
            
            # Define the filepath for the file to be imported
            filename = f'{styp} {local} {i}.xlsx'
            typecat = f'{styp}'            
            filepath = os.path.join(r'Data\FBREF', typecat, filename)  # Use os.path.join to construct the path
            print(filepath)
            
            # Omit the case PORTERIA & 9899 as that data doesn't exist
            if i == '9899' and styp == 'PORTERIA':
                continue
            
            ########################
            if styp == 'STANDARD':
                stdd = pd.read_excel(filepath, header = 1)
                stdd = stdd[['Equipo', 'PJ', 'TP', 'TPint', 'TA', 'TR']]
                stdd = stdd.copy()
                stdd.loc[:, 'Season'] = f'{i}'
                
                
                if local == 'SQ':
                    standard_SQ[filename] = stdd
                    standard_SQ[filename].rename(columns = {'TP' : 'PENEXEC_favor', 'TPint' : 'TPint_favor', 
                                               'TA' : 'TA_contra', 'TR' : 'TR_contra'}, 
                                    inplace = True)
                else:
                    standard_VS[filename] = stdd
                    standard_VS[filename].rename(columns = {'TP' : 'PENEXEC_contra', 'TPint' : 'TPint_contra',
                                               'TA' : 'TA_favor', 'TR' : 'TR_favor'}, 
                                    inplace = True)
            
            ########################
            if styp == 'PORTERIA':
                pdd = pd.read_excel(filepath, header = 1)
                pdd = pdd[['Equipo', 'TPint', 'PD', 'Salvadas', 'PC']]
                pdd = pdd.copy()
                pdd.loc[:, 'Season'] = f'{i}'
                     
                if local == 'SQ':
                    porteria_SQ[filename] = pdd
                    porteria_SQ[filename].rename(columns = {'TPint' : 'TPint_contra', 'PD' : 'PENEXEC_contra', 
                                               'Salvadas' : 'PDet_contra', 'PC' : 'PFail_contra'}, 
                                    inplace = True)
                else:
                    porteria_VS[filename] = pdd
                    porteria_VS[filename].rename(columns = {'TPint' : 'TPint_favor', 'PD' : 'PENEXEC_favor', 
                                               'Salvadas' : 'PDet_favor', 'PC' : 'PFail_favor'}, 
                                    inplace = True)
                
            ########################
            if styp == 'EXTRA':
                edd = pd.read_excel(filepath, header = 1)
                edd = edd[['Equipo', 'TA', 'TR', '2a amarilla', 'Fls', 'FR', 'PA']]
                edd = edd.copy()
                edd.loc[:, 'Season'] = f'{i}'

                if local == 'SQ':
                    extra_SQ[filename] = edd
                    extra_SQ[filename].rename(columns = {'TA' : 'TA_contra', 'TR' : 'TR_contra', 
                                            '2a amarilla' : 'TA2_contra', 'Fls' : 'Fls_cometidasPor',
                                            'FR' : 'Fls_recibidasContra', 'PA' : 'Offside_contra'}, 
                                 inplace = True)
                else:
                    extra_VS[filename] = edd
                    extra_VS[filename].rename(columns = {'TA' : 'TA_favor', 'TR' : 'TR_favor', 
                                            '2a amarilla' : 'TA2_favor', 'Fls' : 'Fls_cometidasContra',
                                            'FR' : 'Fls_recibidasPor', 'PA' : 'Offside_favor'}, 
                                 inplace = True)
                    
            ########################
            if styp == 'REGULAR':
                rdd = pd.read_excel(filepath)
                rdd = rdd[['RL', 'Equipo', 'PJ', 'PG', 'PE', 'PP', 'DG']]
                rdd = rdd.copy()
                rdd.loc[:, 'Season'] = f'{i}'
                
                if local == 'SQ':
                    regular_SQ[filename] = rdd
                else:
                    regular_VS[filename] = rdd

Data\FBREF\STANDARD\STANDARD SQ 9899.xlsx
Data\FBREF\STANDARD\STANDARD VS 9899.xlsx
Data\FBREF\STANDARD\STANDARD SQ 9900.xlsx
Data\FBREF\STANDARD\STANDARD VS 9900.xlsx
Data\FBREF\STANDARD\STANDARD SQ 0001.xlsx
Data\FBREF\STANDARD\STANDARD VS 0001.xlsx
Data\FBREF\STANDARD\STANDARD SQ 0102.xlsx
Data\FBREF\STANDARD\STANDARD VS 0102.xlsx
Data\FBREF\STANDARD\STANDARD SQ 0203.xlsx
Data\FBREF\STANDARD\STANDARD VS 0203.xlsx
Data\FBREF\STANDARD\STANDARD SQ 0304.xlsx
Data\FBREF\STANDARD\STANDARD VS 0304.xlsx
Data\FBREF\STANDARD\STANDARD SQ 0405.xlsx
Data\FBREF\STANDARD\STANDARD VS 0405.xlsx
Data\FBREF\STANDARD\STANDARD SQ 0506.xlsx
Data\FBREF\STANDARD\STANDARD VS 0506.xlsx
Data\FBREF\STANDARD\STANDARD SQ 0607.xlsx
Data\FBREF\STANDARD\STANDARD VS 0607.xlsx
Data\FBREF\STANDARD\STANDARD SQ 0708.xlsx
Data\FBREF\STANDARD\STANDARD VS 0708.xlsx
Data\FBREF\STANDARD\STANDARD SQ 0809.xlsx
Data\FBREF\STANDARD\STANDARD VS 0809.xlsx
Data\FBREF\STANDARD\STANDARD SQ 0910.xlsx
Data\FBREF\STANDARD\STANDARD VS 0910.xlsx
Data\FBREF\STANDARD\STANDARD SQ 1011.xlsx
Data\FBREF\STANDARD\STANDARD VS 1011.xlsx
Data\FBREF\STANDARD\STANDARD SQ 1112.xlsx
Data\FBREF\STANDARD\STANDARD VS 1112.xlsx
Data\FBREF\STANDARD\STANDARD SQ 1213.xlsx
Data\FBREF\STANDARD\STANDARD VS 1213.xlsx
Data\FBREF\STANDARD\STANDARD SQ 1314.xlsx
Data\FBREF\STANDARD\STANDARD VS 1314.xlsx
Data\FBREF\STANDARD\STANDARD SQ 1415.xlsx
Data\FBREF\STANDARD\STANDARD VS 1415.xlsx
Data\FBREF\STANDARD\STANDARD SQ 1516.xlsx
Data\FBREF\STANDARD\STANDARD VS 1516.xlsx
Data\FBREF\STANDARD\STANDARD SQ 1617.xlsx
Data\FBREF\STANDARD\STANDARD VS 1617.xlsx
Data\FBREF\STANDARD\STANDARD SQ 1718.xlsx
Data\FBREF\STANDARD\STANDARD VS 1718.xlsx
Data\FBREF\STANDARD\STANDARD SQ 1819.xlsx
Data\FBREF\STANDARD\STANDARD VS 1819.xlsx
Data\FBREF\STANDARD\STANDARD SQ 1920.xlsx
Data\FBREF\STANDARD\STANDARD VS 1920.xlsx
Data\FBREF\STANDARD\STANDARD SQ 2021.xlsx
Data\FBREF\STANDARD\STANDARD VS 2021.xlsx
Data\FBREF\STANDARD\STANDARD SQ 2122.xlsx
Data\FBREF\STANDARD\STANDARD VS 2122.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 9899.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 9899.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 9900.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 9900.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 0001.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 0001.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 0102.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 0102.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 0203.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 0203.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 0304.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 0304.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 0405.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 0405.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 0506.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 0506.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 0607.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 0607.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 0708.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 0708.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 0809.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 0809.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 0910.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 0910.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 1011.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 1011.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 1112.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 1112.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 1213.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 1213.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 1314.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 1314.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 1415.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 1415.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 1516.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 1516.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 1617.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 1617.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 1718.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 1718.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 1819.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 1819.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 1920.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 1920.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 2021.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 2021.xlsx
Data\FBREF\PORTERIA\PORTERIA SQ 2122.xlsx
Data\FBREF\PORTERIA\PORTERIA VS 2122.xlsx
Data\FBREF\EXTRA\EXTRA SQ 9899.xlsx
Data\FBREF\EXTRA\EXTRA VS 9899.xlsx
Data\FBREF\EXTRA\EXTRA SQ 9900.xlsx
Data\FBREF\EXTRA\EXTRA VS 9900.xlsx
Data\FBREF\EXTRA\EXTRA SQ 0001.xlsx
Data\FBREF\EXTRA\EXTRA VS 0001.xlsx
Data\FBREF\EXTRA\EXTRA SQ 0102.xlsx
Data\FBREF\EXTRA\EXTRA VS 0102.xlsx
Data\FBREF\EXTRA\EXTRA SQ 0203.xlsx
Data\FBREF\EXTRA\EXTRA VS 0203.xlsx
Data\FBREF\EXTRA\EXTRA SQ 0304.xlsx
Data\FBREF\EXTRA\EXTRA VS 0304.xlsx
Data\FBREF\EXTRA\EXTRA SQ 0405.xlsx
Data\FBREF\EXTRA\EXTRA VS 0405.xlsx
Data\FBREF\EXTRA\EXTRA SQ 0506.xlsx
Data\FBREF\EXTRA\EXTRA VS 0506.xlsx
Data\FBREF\EXTRA\EXTRA SQ 0607.xlsx
Data\FBREF\EXTRA\EXTRA VS 0607.xlsx
Data\FBREF\EXTRA\EXTRA SQ 0708.xlsx
Data\FBREF\EXTRA\EXTRA VS 0708.xlsx
Data\FBREF\EXTRA\EXTRA SQ 0809.xlsx
Data\FBREF\EXTRA\EXTRA VS 0809.xlsx
Data\FBREF\EXTRA\EXTRA SQ 0910.xlsx
Data\FBREF\EXTRA\EXTRA VS 0910.xlsx
Data\FBREF\EXTRA\EXTRA SQ 1011.xlsx
Data\FBREF\EXTRA\EXTRA VS 1011.xlsx
Data\FBREF\EXTRA\EXTRA SQ 1112.xlsx
Data\FBREF\EXTRA\EXTRA VS 1112.xlsx
Data\FBREF\EXTRA\EXTRA SQ 1213.xlsx
Data\FBREF\EXTRA\EXTRA VS 1213.xlsx
Data\FBREF\EXTRA\EXTRA SQ 1314.xlsx
Data\FBREF\EXTRA\EXTRA VS 1314.xlsx
Data\FBREF\EXTRA\EXTRA SQ 1415.xlsx
Data\FBREF\EXTRA\EXTRA VS 1415.xlsx
Data\FBREF\EXTRA\EXTRA SQ 1516.xlsx
Data\FBREF\EXTRA\EXTRA VS 1516.xlsx
Data\FBREF\EXTRA\EXTRA SQ 1617.xlsx
Data\FBREF\EXTRA\EXTRA VS 1617.xlsx
Data\FBREF\EXTRA\EXTRA SQ 1718.xlsx
Data\FBREF\EXTRA\EXTRA VS 1718.xlsx
Data\FBREF\EXTRA\EXTRA SQ 1819.xlsx
Data\FBREF\EXTRA\EXTRA VS 1819.xlsx
Data\FBREF\EXTRA\EXTRA SQ 1920.xlsx
Data\FBREF\EXTRA\EXTRA VS 1920.xlsx
Data\FBREF\EXTRA\EXTRA SQ 2021.xlsx
Data\FBREF\EXTRA\EXTRA VS 2021.xlsx
Data\FBREF\EXTRA\EXTRA SQ 2122.xlsx
Data\FBREF\EXTRA\EXTRA VS 2122.xlsx
Data\FBREF\REGULAR\REGULAR SQ 9899.xlsx
Data\FBREF\REGULAR\REGULAR VS 9899.xlsx
Data\FBREF\REGULAR\REGULAR SQ 9900.xlsx
Data\FBREF\REGULAR\REGULAR VS 9900.xlsx
Data\FBREF\REGULAR\REGULAR SQ 0001.xlsx
Data\FBREF\REGULAR\REGULAR VS 0001.xlsx
Data\FBREF\REGULAR\REGULAR SQ 0102.xlsx
Data\FBREF\REGULAR\REGULAR VS 0102.xlsx
Data\FBREF\REGULAR\REGULAR SQ 0203.xlsx
Data\FBREF\REGULAR\REGULAR VS 0203.xlsx
Data\FBREF\REGULAR\REGULAR SQ 0304.xlsx
Data\FBREF\REGULAR\REGULAR VS 0304.xlsx
Data\FBREF\REGULAR\REGULAR SQ 0405.xlsx
Data\FBREF\REGULAR\REGULAR VS 0405.xlsx
Data\FBREF\REGULAR\REGULAR SQ 0506.xlsx
Data\FBREF\REGULAR\REGULAR VS 0506.xlsx
Data\FBREF\REGULAR\REGULAR SQ 0607.xlsx
Data\FBREF\REGULAR\REGULAR VS 0607.xlsx
Data\FBREF\REGULAR\REGULAR SQ 0708.xlsx
Data\FBREF\REGULAR\REGULAR VS 0708.xlsx
Data\FBREF\REGULAR\REGULAR SQ 0809.xlsx
Data\FBREF\REGULAR\REGULAR VS 0809.xlsx
Data\FBREF\REGULAR\REGULAR SQ 0910.xlsx
Data\FBREF\REGULAR\REGULAR VS 0910.xlsx
Data\FBREF\REGULAR\REGULAR SQ 1011.xlsx
Data\FBREF\REGULAR\REGULAR VS 1011.xlsx
Data\FBREF\REGULAR\REGULAR SQ 1112.xlsx
Data\FBREF\REGULAR\REGULAR VS 1112.xlsx
Data\FBREF\REGULAR\REGULAR SQ 1213.xlsx
Data\FBREF\REGULAR\REGULAR VS 1213.xlsx
Data\FBREF\REGULAR\REGULAR SQ 1314.xlsx
Data\FBREF\REGULAR\REGULAR VS 1314.xlsx
Data\FBREF\REGULAR\REGULAR SQ 1415.xlsx
Data\FBREF\REGULAR\REGULAR VS 1415.xlsx
Data\FBREF\REGULAR\REGULAR SQ 1516.xlsx
Data\FBREF\REGULAR\REGULAR VS 1516.xlsx
Data\FBREF\REGULAR\REGULAR SQ 1617.xlsx
Data\FBREF\REGULAR\REGULAR VS 1617.xlsx
Data\FBREF\REGULAR\REGULAR SQ 1718.xlsx
Data\FBREF\REGULAR\REGULAR VS 1718.xlsx
Data\FBREF\REGULAR\REGULAR SQ 1819.xlsx
Data\FBREF\REGULAR\REGULAR VS 1819.xlsx
Data\FBREF\REGULAR\REGULAR SQ 1920.xlsx
Data\FBREF\REGULAR\REGULAR VS 1920.xlsx
Data\FBREF\REGULAR\REGULAR SQ 2021.xlsx
Data\FBREF\REGULAR\REGULAR VS 2021.xlsx
Data\FBREF\REGULAR\REGULAR SQ 2122.xlsx
Data\FBREF\REGULAR\REGULAR VS 2122.xlsx

In [3]:
# Loop to Concatenate all the keys in the dictionaries in just one dictionary
for s in stat:
    for lv in locvis:
        # Generate the dictionary name dynamically
        dict_name = f"{s.lower()}_{lv}"
        
        # Retrieve the actual dictionary from globals()
        data_dict = globals()[dict_name]
        
        # Concatenate the values of the dictionary (assuming the dictionary holds DataFrames)
        globals()[dict_name] = pd.concat(data_dict.values(), ignore_index=True)

In [4]:
def merge_stats(dataframes):
    # Start with the first DataFrame in the list
    merged_df = dataframes[0]
    
    # Merge with the remaining DataFrames
    for df in dataframes[1:]:
        merged_df = pd.merge(merged_df, df, on=['Equipo', 'Season'])
    
    return merged_df

# List of DataFrames to merge for SQ and VS
sq_dataframes = [standard_SQ, porteria_SQ, extra_SQ, regular_SQ]
vs_dataframes = [standard_VS, porteria_VS, extra_VS, regular_VS]

# Apply the merge function
stats_SQ = merge_stats(sq_dataframes)
stats_VS = merge_stats(vs_dataframes)

In [5]:
def clean_equipo_column(df):
    replacements = {
        'Ã¡': 'á', 'Ã ': 'à', 'Ã©': 'é', 'Ã­': 'í', 'Ã³': 'ó', 
        'Ã±': 'ñ', 'GimnÃ stic': 'Gimnàstic',
        'Deportivo La Coruña': 'La Coruña', 'Real Betis': 'Betis',
        'vs. ': ''
    }
    
    for old_value, new_value in replacements.items():
        df['Equipo'] = df['Equipo'].str.replace(old_value, new_value, regex = True)

# Apply the function to both DataFrames
clean_equipo_column(stats_SQ)
clean_equipo_column(stats_VS)

In [6]:
stats_SQ.to_excel('Datasets\STATS_SQ.xlsx')
stats_VS.to_excel('Datasets\STATS_VS.xlsx')

# Now we are gonna use Transfermkt data

In [7]:
# Import data
time = ['9899', '9900', '0001', '0102', '0203', '0304', '0405', '0506', 
        '0607', '0708', '0809', '0910', '1011', '1112', '1213', '1314', '1415']

ta = {}

for t in time:            
    ta[t] = pd.read_excel('Data\Transfermkt\TRANSFERMKT DATA.xlsx', sheet_name = t)
    ta[t]['Season'] = t

ta = pd.concat(ta.values(), ignore_index = True)
ta.drop(['Fouls', 'Points', 'Defence rate', 'Matches', '2TA+TR', 'TA2_favor'], axis = 1, inplace = True)

In [8]:
ta.rename(columns = {'Club' : 'Equipo', 'TA' : 'TA_contra', 'TR' : 'TR_contra',
                    '2TA' : 'TA2_contra', 'Successful Conceded Penalties' : 'PENEXEC_contra',
                    'Conceded penalties' : 'TPint_contra', 'Penalties received' : 'TPint_favor',
                    'Penalties receiver Scored' : 'PENEXEC_favor', 'CaughtOffside' : 'Offside_contra',
                    'Fouled' : 'Fls_recibidasContra'}, inplace = True)

ta['TA_contra'] = ta['TA_contra'] + ta['TA2_contra']

In [9]:
def standard_teams(df):
    replacements = {
        'Albacete Balompié' : 'Albacete', 'Athletic Bilbao' : 'Athletic Club', 
        'Atlético de Madrid' : 'Atlético Madrid', 'CA Osasuna' : 'Osasuna', 
        'Cádiz CF' : 'Cádiz', 'CD Numancia' : 'Numancia', 'CD Tenerife' : 'Tenerife', 
        'Celta de Vigo' : 'Celta Vigo', 'CF Extremadura (- 2010)' : 'Extremadura', 
        'Córdoba CF' : 'Córdoba', 'Deportivo Alavés' : 'Alavés', 
        'Deportivo de La Coruña' : 'La Coruña', 'Elche CF' : 'Elche', 
        'FC Barcelona' : 'Barcelona', 'Getafe CF' : 'Getafe', 
        'Gimnàstic de Tarragona' : 'Gimnàstic', 'Granada CF' : 'Granada', 
        'Hércules CF' : 'Hércules', 'Levante UD' : 'Levante', 'Málaga CF' : 'Málaga', 
        'Racing Santander' : 'Racing Sant', 'RCD Espanyol Barcelona' : 'Espanyol', 
        'RCD Mallorca' : 'Mallorca', 'Real Betis Balompié' : 'Betis', 'Real Murcia CF' : 
        'Real Murcia', 'Real Oviedo' : 'Oviedo', 'Real Valladolid' : 'Valladolid', 
        'Real Zaragoza' : 'Zaragoza', 'Recreativo Huelva' : 'Recreativo', 
        'SD Eibar' : 'Eibar', 'Sevilla FC' : 'Sevilla', 'UD Almería' : 'Almería', 
        'UD Las Palmas' : 'Las Palmas', 'UD Salamanca (- 2013)' : 'Salamanca', 
        'Valencia CF' : 'Valencia', 'Valladolid CF' : 'Valladolid', 'Villarreal CF' : 
        'Villarreal', 'Xerez CD' : 'Xerez', '2010' : '', '2013' : '', '(- )' : ''
    }
    
    for old_value, new_value in replacements.items():
        df['Equipo'] = df['Equipo'].str.replace(old_value, new_value, regex = True)

# Apply the function
standard_teams(ta)

ta['Equipo'].unique()
#EXTREMADURA
#SALAMANCA

array(['Mallorca', 'CF Extremadura ()', 'Barcelona', 'La Coruña',
       'Real Madrid', 'Oviedo', 'Valencia', 'Racing Sant', 'Zaragoza',
       'Betis', 'Valladolid', 'Athletic Club', 'UD Salamanca ()',
       'Celta Vigo', 'Espanyol', 'Atlético Madrid', 'Villarreal',
       'Alavés', 'Real Sociedad', 'Tenerife', 'Rayo Vallecano',
       'Numancia', 'Málaga', 'Sevilla', 'Osasuna', 'Las Palmas',
       'Recreativo', 'Albacete', 'Real Murcia', 'Levante', 'Getafe',
       'Cádiz', 'Gimnàstic', 'Almería', 'Sporting Gijón', 'Xerez',
       'Hércules', 'Granada', 'Elche', 'Eibar', 'Córdoba'], dtype=object)

In [10]:
ta.drop(['TA_favor', 'TR_favor'], axis = 1, inplace = True)

In [11]:
ta

,#,Equipo,TA_contra,TA2_contra,TR_contra,TPint_favor,PENEXEC_favor,Penalties received Missed,PENEXEC_contra,TPint_contra,Missed Conceded penalties,Season,Offside_contra,Fls_recibidasContra,Rating
0,1,Mallorca,82,2,0,6.0,6.0,0.0,3.0,3.0,0.0,9899,NaN,NaN,NaN
1,2,CF Extremadura (),75,1,2,2.0,2.0,0.0,2.0,4.0,2.0,9899,NaN,NaN,NaN
2,3,Barcelona,79,6,1,8.0,7.0,1.0,3.0,3.0,0.0,9899,NaN,NaN,NaN
3,4,La Coruña,85,3,2,4.0,3.0,1.0,4.0,4.0,0.0,9899,NaN,NaN,NaN
4,5,Real Madrid,95,3,1,9.0,9.0,0.0,3.0,4.0,1.0,9899,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
335,16,Valencia,103,5,4,NaN,NaN,NaN,4.0,8.0,4.0,1415,67.0,613.0,6.99
336,17,Espanyol,117,4,2,NaN,NaN,NaN,0.0,1.0,1.0,1415,69.0,535.0,6.73
337,18,Celta Vigo,117,1,4,NaN,NaN,NaN,5.0,7.0,2.0,1415,110.0,495.0,6.82
338,19,Málaga,109,3,5,NaN,NaN,NaN,3.0,6.0,3.0,1415,125.0,509.0,6.70
339,20,Almería,115,9,2,NaN,NaN,NaN,1.0,2.0,1.0,1415,62.0,518.0,6.64

# Merging Data

In [12]:
#We need to merge STATS_SQ with ta
SQF = pd.merge(stats_SQ, ta, on = ['Equipo', 'Season'])
SQF
## WE NEED TO CORRECT

,Equipo,PJ_x,PENEXEC_favor_x,TPint_favor_x,TA_contra_x,TR_contra_x,Season,TPint_contra_x,PENEXEC_contra_x,PDet_contra,...,TR_contra,TPint_favor_y,PENEXEC_favor_y,Penalties received Missed,PENEXEC_contra_y,TPint_contra_y,Missed Conceded penalties,Offside_contra_y,Fls_recibidasContra_y,Rating
0,Alavés,38,6.0,8.0,95.0,7.0,9900,NaN,NaN,134,...,3,NaN,NaN,NaN,2.0,2.0,0.0,NaN,NaN,NaN
1,Athletic Club,38,5.0,6.0,106.0,3.0,9900,NaN,NaN,117,...,3,NaN,NaN,NaN,10.0,11.0,1.0,NaN,NaN,NaN
2,Atlético Madrid,38,4.0,6.0,122.0,6.0,9900,NaN,NaN,117,...,4,NaN,NaN,NaN,4.0,4.0,0.0,NaN,NaN,NaN
3,Barcelona,38,3.0,4.0,86.0,5.0,9900,NaN,NaN,118,...,4,NaN,NaN,NaN,4.0,4.0,0.0,NaN,NaN,NaN
4,Betis,38,5.0,6.0,99.0,9.0,9900,NaN,NaN,130,...,4,NaN,NaN,NaN,9.0,9.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315,Real Madrid,38,11.0,13.0,0.0,0.0,1415,NaN,NaN,94,...,2,NaN,NaN,NaN,4.0,5.0,1.0,119.0,544.0,7.24
316,Real Sociedad,38,3.0,3.0,0.0,0.0,1415,NaN,NaN,119,...,1,NaN,NaN,NaN,5.0,6.0,1.0,103.0,559.0,6.79
317,Sevilla,38,8.0,10.0,0.0,0.0,1415,NaN,NaN,101,...,1,NaN,NaN,NaN,8.0,8.0,0.0,117.0,517.0,6.89
318,Valencia,38,5.0,7.0,0.0,0.0,1415,NaN,NaN,93,...,4,NaN,NaN,NaN,4.0,8.0,4.0,67.0,613.0,6.99
319,Villarreal,38,2.0,2.0,0.0,0.0,1415,NaN,NaN,104,...,1,NaN,NaN,NaN,3.0,3.0,0.0,89.0,443.0,6.88

In [15]:
SQF.describe()

,PJ_x,PENEXEC_favor_x,TPint_favor_x,TA_contra_x,TR_contra_x,TPint_contra_x,PENEXEC_contra_x,PDet_contra,PFail_contra,TA_contra_y,...,TR_contra,TPint_favor_y,PENEXEC_favor_y,Penalties received Missed,PENEXEC_contra_y,TPint_contra_y,Missed Conceded penalties,Offside_contra_y,Fls_recibidasContra_y,Rating
count,320.0,320.000000,320.000000,320.000000,320.000000,0.0,0.0,320.000000,0.0,320.000000,...,320.000000,0.0,0.0,0.0,319.000000,319.000000,319.000000,120.000000,120.000000,120.000000
mean,38.0,4.290625,5.459375,88.090625,5.978125,NaN,NaN,134.803125,NaN,88.090625,...,2.906250,NaN,NaN,NaN,4.275862,5.191223,0.915361,101.458333,519.341667,6.847167
std,0.0,2.290755,2.603032,36.184410,3.295692,NaN,NaN,26.336537,NaN,36.184410,...,1.734029,NaN,NaN,NaN,2.088998,2.222905,1.035099,21.402464,53.199560,0.155678
min,38.0,0.000000,0.000000,0.000000,0.000000,NaN,NaN,66.000000,NaN,0.000000,...,0.000000,NaN,NaN,NaN,0.000000,1.000000,0.000000,58.000000,391.000000,6.590000
25%,38.0,3.000000,4.000000,84.750000,4.000000,NaN,NaN,118.000000,NaN,84.750000,...,2.000000,NaN,NaN,NaN,3.000000,4.000000,0.000000,84.000000,484.750000,6.750000
50%,38.0,4.000000,5.000000,98.000000,6.000000,NaN,NaN,131.000000,NaN,98.000000,...,3.000000,NaN,NaN,NaN,4.000000,5.000000,1.000000,100.000000,515.500000,6.815000
75%,38.0,6.000000,7.000000,109.000000,8.000000,NaN,NaN,147.250000,NaN,109.000000,...,4.000000,NaN,NaN,NaN,6.000000,7.000000,2.000000,115.500000,553.500000,6.900000
max,38.0,12.000000,13.000000,150.000000,15.000000,NaN,NaN,222.000000,NaN,150.000000,...,10.000000,NaN,NaN,NaN,12.000000,12.000000,4.000000,159.000000,675.000000,7.300000

# VS DATA

In [16]:
stats_VS

,Equipo,PJ_x,PENEXEC_contra,TPint_contra,TA_favor_x,TR_favor_x,Season,TPint_favor,PENEXEC_favor,PDet_favor,...,TA2_favor,Fls_cometidasContra,Fls_recibidasPor,Offside_favor,RL,PJ_y,PG,PE,PP,DG
0,Alavés,38,NaN,NaN,NaN,NaN,9900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,6,19,10,4,5,NaN
1,Athletic Club,38,NaN,NaN,NaN,NaN,9900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,11,19,8,8,3,NaN
2,Atlético Madrid,38,NaN,NaN,NaN,NaN,9900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,19,19,5,8,6,NaN
3,Barcelona,38,NaN,NaN,NaN,NaN,9900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2,19,13,2,4,NaN
4,Betis,38,NaN,NaN,NaN,NaN,9900,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,18,19,8,6,5,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
455,Real Madrid,38,3.0,5.0,82.0,3.0,2122,12.0,8.0,171.0,...,1.0,501.0,370.0,30.0,1,19,13,5,1,31.0
456,Real Sociedad,38,5.0,6.0,95.0,2.0,2122,10.0,9.0,112.0,...,2.0,493.0,465.0,86.0,6,19,10,5,4,7.0
457,Sevilla,38,2.0,4.0,98.0,4.0,2122,3.0,2.0,90.0,...,2.0,497.0,441.0,53.0,4,19,12,6,1,19.0
458,Valencia,38,7.0,8.0,133.0,7.0,2122,9.0,8.0,92.0,...,4.0,603.0,616.0,97.0,9,19,6,8,5,2.0
459,Villarreal,38,4.0,5.0,98.0,3.0,2122,6.0,5.0,107.0,...,2.0,483.0,456.0,123.0,7,19,10,6,3,22.0